<!-- FullScreen -->
<div class="intro-header">
	<div class="col-xs-12 text-center abcen1">
		<h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">Lunch Order</h1>
		<h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">Order lunch at your enterprise with ease</h3>
		<div class="row">
			<div class="col-md-3" style="float: none; margin: 0 auto; padding-top: 15px;">
				<div [hidden]="isAuthenticated">
					<button *ngIf="configService.authConfig.activeDirectoryEnabled" class="btn btn-lg mybutton_cyano wow fadeIn" style="width: 100%;"
						data-wow-delay="0.8s" (click)="login()"><span class="network-name">Login using Company Account</span></button>
					<div *ngIf="configService.authConfig.usernamePasswordEnabled">
						<div *ngIf="configService.demoConfig.isDemo">
							<p style="color: #f10000;font-weight: bold;">Admin user: {{configService.demoConfig.demoAdmin}}, pass: {{configService.demoConfig.demoAdminPass}}</p>
							<p style="color: #f10000;font-weight: bold;">App user: {{configService.demoConfig.demoUser}}, pass: {{configService.demoConfig.demoUserPass}}</p>
						</div>
						<hr style="margin: 15px 0;" *ngIf="configService.authConfig.activeDirectoryEnabled">
						<form #userPassLogin="ngForm" class="ui form">
							<div class="form-group  has-feedback has-feedback-left">
								<input type="text" class="form-control" id="inputUserName" placeholder="User name" name="userName" [(ngModel)]="loginForm.userName"
									required>
								<i class="glyphicon glyphicon-user form-control-feedback" style="color: #bfbfbf;"></i>
							</div>
							<div class="form-group has-feedback has-feedback-left">
								<input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password" [(ngModel)]="loginForm.password"
									required>
								<i class="glyphicon glyphicon-lock form-control-feedback" style="color: #bfbfbf;"></i>
							</div>

							<button type="submit" class="btn btn-primary" style="width: 100%;" (click)="loginUserPass($event, userPassLogin.value)">Login</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container -->
	<div class="col-xs-12 text-center abcen wow fadeIn">
		<div class="button_down ">
			<a class="imgcircle wow bounceInUp" data-wow-duration="1.5s" href="#order"> <img class="img_scroll" src="../assets/css/img/icon/circle.png" alt=""> </a>
		</div>
	</div>
</div>

<div [hidden]="!isAuthenticated">
	<!-- NavBar-->
	<nav class="navbar-default" role="navigation" stick-rx>
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#home">LunchOrder</a>
			</div>

			<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li class="menuItem"><a href="#order">Menu</a></li>
					<li class="menuItem"><a href="#balance">About you</a></li>
					<!-- <li class="menuItem"><a href="#badges">Badges</a></li>-->
					<!--<li class="menuItem"><a href="#contact">Contact</a></li>-->
				</ul>
			</div>
		</div>
	</nav>

	<div information id="information" class="content-section-a" style="border-top: 0"></div>

	<div balance id="balance" class="content-section-b"></div>

	<div menu id="order" class="content-section-a"></div>

	<div admin-prepay *ngIf="isAdminPrepay()" id="adminPrepay" class="content-section-b"></div>

	<!-- <div reminder  class="content-section-c "></div>-->

	<!-- <div badges-list [badgesList]="userBadges" id="badges" class="content-section-a"></div>-->

	<div id="downloadlink" class="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-4 text-right wrap_title">
					<h2>Enjoy your lunch</h2>
					<p class="lead" style="margin-top:0">Tweet your order</p>
				</div>
			</div>
		</div>
	</div>
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<footer footer>
</footer>