<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="5.0.2" targetFramework="net461" />
  <package id="Castle.Core" version="3.3.0" targetFramework="net452" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net452" />
  <package id="Castle.Windsor.Lifestyles" version="0.4.0" targetFramework="net461" />
  <package id="DocumentDB.AspNet.Identity" version="1.0.9-beta" targetFramework="net461" />
  <package id="elmah" version="1.2" targetFramework="net461" />
  <package id="elmah.xml" version="1.2" targetFramework="net461" />
  <package id="FluentScheduler" version="5.0.0" targetFramework="net461" />
  <package id="FluentValidation" version="6.2.1.0" targetFramework="net452" />
  <package id="FluentValidation.WebApi" version="6.2.1.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Cors" version="5.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.SignalR.Owin" version="1.2.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="4.0.30506.0" targetFramework="net452" />
  <package id="Microsoft.Azure.DocumentDB" version="1.7.0" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="net461" />
  <package id="Microsoft.Data.OData" version="5.6.4" targetFramework="net461" />
  <package id="Microsoft.Data.Services.Client" version="5.6.4" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net452" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Cors" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.ActiveDirectory" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Security.Cookies" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.Jwt" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NLog" version="4.0.1" targetFramework="net461" />
  <package id="NLog.Web" version="4.2.1" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="Sendgrid" version="8.0.2" targetFramework="net461" />
  <package id="SendGrid.CSharp.HTTP.Client" version="3.0.0" targetFramework="net461" />
  <package id="Swashbuckle" version="5.3.2" targetFramework="net452" />
  <package id="Swashbuckle.Core" version="5.3.2" targetFramework="net452" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.0" targetFramework="net452" />
  <package id="System.Spatial" version="5.6.4" targetFramework="net461" />
  <package id="Thinktecture.IdentityModel.Core" version="1.4.0" targetFramework="net452" />
  <package id="WebActivatorEx" version="2.0" targetFramework="net452" />
  <package id="WindowsAzure.ServiceBus" version="3.3.2" targetFramework="net461" />
</packages>