<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  
  <lunchorder>
    <application>
      <company name="__companyName__" phone="__companyPhone__" website="__companyWebsite__" xdt:Transform="SetAttributes" >
        <address street="__addressStreet__"  number="__addressNumber__" postalCode="__addressPostalCode__" city="__addressCity__" xdt:Transform="SetAttributes" />
      </company>
    </application>
    <authentication allowInsecureHttp="true" xdt:Transform="SetAttributes">
      <apiKeys>
        <apiKey xdt:Transform="Remove" />
        <apiKey xdt:Transform="Insert" value="__apiKey1__" />
      </apiKeys>
      <local audience="__localAudience__" audienceSecret="__localAudienceSecret__" issuer="__localIssuer__" xdt:Transform="SetAttributes" />
      <azure tenant="__azureTenant__" audience="__azureAudience__"  xdt:Transform="SetAttributes" />
    </authentication>
    <connections>
      <documentDb endpoint="__documentDbEndpoint__" authKey="__documentDbauthKey__" database="__documentDbDatabase__" collection="__documentDbCollection__" xdt:Transform="SetAttributes" />
      <azureStorage connectionString="__azureStorageConnectionString__" imageContainerName="__azureStorageImageContainerName__" xdt:Transform="SetAttributes" />
    </connections>
    <eventing>
      <servicebus enabled="__servicebusEnabled__" connectionString="__servicebusConnectionString__" topic="__servicebusTopic__" xdt:Transform="SetAttributes" />
    </eventing>
    <email>
      <sendgrid apiKey="__sendgridApiKey__" from="__sendgridFrom__" bcc="__sendgridBcc__" xdt:Transform="SetAttributes"/>
    </email>
    <jobs>
      <job xdt:Transform="Remove" />
      <job xdt:Transform="Insert" name="backup" enabled="__backupJobEnabled__" />
      <job xdt:Transform="Insert" name="email" enabled="__emailJobEnabled__" />
    </jobs>
    <pushProviders>
      <firebase apiKey="__pushProviderFirebaseApiKey__" xdt:Transform="SetAttributes" />
    </pushProviders>
  </lunchorder>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>