.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog.active {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 50%;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 50px 20px;
    background: #fff;
}
.close {
    line-height: 50px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
    width: 50px;
    font-size: 19px;
}

.checkout {
    i.basket { 
        font-size: 18px;
        line-height: 50px;
    }

    .item:hover {
    background: #f1f1f1;
    }
    
    .negative {
        color: red;
        font-weight: bold;
    }

    .positive {
        color: green;
    }

     h4 {
        text-transform: uppercase;
        display: inline-block;
    }

    .right {
        float: right;
    }

    span {
        font-size: 16px;
    }

    span.description {
        font-size: 12px;
        display: block;
    }

    .clear {
        clear:both;
    }
}